
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список тестов по JavaScript</h2>

<ul>
    <li>@Html.ActionLink("Тест 1 - Добавление обработчика событий", "Test1")</li>
    <li>@Html.ActionLink("Тест 2 - Отправка асинхронных запросов", "Test2")</li>
    <li>@Html.ActionLink("Тест 3 - Формирование JSON вручную на сервере и вывод в консоль", "Test3")</li>
    <li>@Html.ActionLink("Тест 4 - Формирование JSON из БД на сервере и вывод в консоль", "Test4")</li>
    <li>@Html.ActionLink("Тест 5 - Автокомплит", "Test5")</li>
</ul>